h1
  font-family: 'Intro'
  font-size: 46px
  font-weight: normal
.main-title
  font-family: "Open Sans"
  font-size: 30px
  font-weight: bold
  margin: 0
h2
  font-family: "Intro"
  font-size: 36px
  font-weight: normal
h3
  font-family: "Open Sans"
  font-size: 30px
  font-weight: bold
  margin: 0
.items-leading
  a
    h2
      font-weight: 700;
      font-size: 16px;
      color: #383838;
      margin-top: 2px;
      margin-bottom: 5px;
      text-transform: none
      font-family: "Open Sans"
    p
      font-weight: normal
      font-size: 13px
      color: #a4a4a4
    &:hover
      h2
        color: $color1
      p
        color: #89c5f4