.overlay {
  display: none;
  z-index: 4;
  bottom: 0;
  cursor: default;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.49);
}
.btn-close {
  background-image: url(../img/btn-close.png);
  width: 20px;
  background-color: rgba(247, 247, 247, 0);
  height: 20px;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  position: absolute;
  top: 7px;
  right: 3px;
  border-radius: 30px;
}
.wrp-form
  width: 300px;
  margin: 20px auto;
  display: none;
  z-index: 5;
  position: fixed;
  top: 20%;
  left: 40%;
  form
    /*border: 1px solid #000;*/
    padding: 10px 0
    width: 100%;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 0 0 24px -2px #000;
    label
      display: none
    span
      color:#ff0000;
    textarea.inputtext
      height:100px;
    textarea.inputtext_small
      height:50px;
  p
    display: block;
    margin: 15px auto;
    width: 80%;
  input, textarea
    outline: none;
    width: 95%
    margin: 5px auto;
    display: block;
  input
    height: 25px;
    padding-left: 10px
  input[type="submit"]
    margin: 0
    padding: 0
    width: 100%;
  textarea
    height: 50px;
    padding: 0
    padding-left: 10px
  .input-captcha
    width: 228px
  img
    width: 100%

.wrp-order-form
  width: 100%
  form
    padding: 10px 0
    width: 50%;
  label
    display: block
  span
    color:#ff0000;
  textarea.inputtext
    height:100px;
  textarea.inputtext_small
    height:50px;
  p
    display: block;
    width: 80%;
  input, textarea
    outline: none;
    width: 95%
    margin: 5px auto;
    display: block;
    margin-left: 0
  input
    height: 25px;
    padding-left: 10px
  input[type="submit"]
    margin: 0
    padding: 0
    width: 100%;
  textarea
    height: 50px;
    padding: 0
    padding-left: 10px
  .input-captcha
    width: 387px
  img
    width: 50%;