//html
html
  margin: 0
  padding: 0
  height: 100%

//body
body
  margin 0
  padding 0
  height: 100%
  font-family "Open Sans"
  font-weight normal
  font-size: 14px;
  letter-spacing normal
  color #000
  min-width 1000px
  img
    border none
  button, input, textarea, select
    outline none
  button
    cursor pointer
  a
    text-decoration none
    color #000
    cursor pointer
    outline: none
  .title
    margin: 30px 0

.h-page
  width 1000px
  min-width 1000px
  max-width 1000px
  padding 0
  margin 0 auto
  box-sizing border-box
  overflow: hidden;

.b-row
  letter-spacing -0.31em
  *letter-spacing normal
  *word-spacing -0.43em
  text-rendering optimizespeed


.b-col, .b-col-1, .b-col-1-2, .b-col-1-4
  display: inline-block;
  zoom: 1;
  *display:inline;
  letter-spacing:normal;
  word-spacing normal;
  vertical-align top;
  text-rendering auto;

.b-col-1 {
  display: block;
}

.b-col-1-2
  width 500px

.b-col-1-4
  width: 250px

.clearfix
  &:after
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;

.effect
  overflow: hidden;
  height: 235px;
  position: relative;
  margin-bottom 10px
  img
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    &:hover
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
  h2
    position: absolute;
    color: #fff;
    font-size: 18px;
    bottom: 5px;
    text-transform: uppercase;
    left: 20px;

.content
  margin-bottom: 35px
  text-align: left
  min-height: calc(100vh - 430px);
  p
    margin: 0 0 25px;
  img
    clear: both;
  .pull-left
    margin-right: 35px

//header
header
  .wrp-head
    height: 140px
    .b-row, .b-col, .b-col-1-2, .b-col-1-4
      height: 100%

.logo
  display: inline-block
  padding-top: 32px
  float: left;

.choose-lang
  display: inline-block
  padding-top: 30px;
  padding-left: 35px;
  li
    padding-bottom: 13px;
  a
    &:hover, &:focus, &:active
      text-decoration: underline
      color $color1
  ul
    display: block
    margin: 0
    padding: 0
    list-style-type: none
    li
      display: block

.addres
  .btn
    +pseudo(before, absolute, top left, 7px 12px)
      sprite($icon_price_black)
      width: 15px
      height: 15px

.b-col-1-2
  vertical-align: middle;

.b-col-1-4
  float: left

.addres
  max-width: 245px
  line-height: 2.5
  padding-top: 18px
  position: relative
  height: 92px
  .btn-primary
    position: absolute
    bottom: -15px
    display: inline
    line-height: 1
    padding: 9px 23px
    padding-left: 39px;
    max-height: 35px;

.phone
  max-width: 170px
  font-size: 20px
  height: 92px
  float: right
  padding-top: 18px
  text-align: right;
  line-height: 1.7
  position: relative
  .btn-primary
    position: absolute
    display: inline
    bottom: -15px
    left: 10px
    padding: 9px 20px
    vertical-align: text-bottom;
    max-height: 35px;
    line-height: 1;

header .addres
  +pseudo(before, absolute, top left, 20px -42px)
    sprite($icon_addres_black)
    height: 32px

header .phone
  +pseudo(before, absolute, top left, 20px -28px)
    sprite($icon_contacts_black)
    height: 32px

//buttons
.btn
  color: #000
  font-size: 14px
  font-weight: normal
  display: inline

.btn-primary
  background-color: transparent
  border: 1px solid $color1
  padding: 6px 23px

.btn-black
  color: #000

.btn-white
  color: #fff

.btn-circle
  display: inline-block;
  border-radius: 30px;
  padding: 7px 20px 7px 20px;

//primary-navigation
nav
  background-color: $color2
  ul
    display: block
    padding: 0
    margin: 0
    li
      display: inline-block
      padding: 13px 27px
      position: relative
      &:hover
        background-color: $color1
        &:after
          content: none
      +pseudo(after, absolute, top right, 10px 0px)
        border-right: 1px solid #000
        width: 1px
        height: 24px
        box-shadow: -1px 0 0 0 #464646;
      &:last-of-type
        &:after
          content: none
    .active
      background-color: $color1
      &:after
        content: none
    a
      color: #fff

//breadcrumbs
.breadcrumbs
  text-align: right
  ul
    margin: 16px 0
    padding: 0
    li
      display: inline-block
      font-size: 14px
      font-weight: normal
      a
        color: $color1
        text-decoration: underline
        margin-right: 5px;
      .active
        color: #000

//main-slider
.wrp-main-slider
  width: 100%
  height: 500px

.main-slider
  /*width: 1000px*/
  width: 100%
  position: relative
  height: 100%
  .slick-slide.slick-current.slick-active.slick-center
    +pseudo(before, absolute, top left, 0 0)
      background transparent
      width: 100%
      height: 100%
      z-index: 0
  .slick-slide
    z-index: 1
    +pseudo(before, absolute, top left, 0 0)
      background rgba(0, 0, 0, 0.42);
      width: 100%
      height: 100%
      z-index: 3
    .black
      color: #000
      .btn-circle
        border: 1px solid $color1
        color: $color1
    .white
      color: #fff
      .btn-circle
        border: 1px solid #fff
        color: #fff
        margin-left: 1px;
    .left
      right: 47%
      @media all and (max-width: 1200px)
        right: 40%
    .right
      left: 50%
      @media all and (max-width: 1200px)
        left: 45%
  .slick-arrow
    position: relative
    width: 85px
    display: block;
    height: 85px
    margin: 0 auto;
    margin-bottom: -84px;
    z-index: 5
    border-radius: 50px;
    background-color: transparent;
    border: none;
    sprite($slider_arrow)
  .slick-prev
    left: -42%;
    top: 42%;
    transform: rotate(180deg);
  .slick-next
    right: -42%;
    top: -58%;
  .slick-slide
    position: relative
    .slider-content
      overflow: auto
      min-height: 270px
      padding-bottom: 5px
      width: 465px
      position: absolute
      top: 31%
      //left: 45%
      @media all and (max-width: 1200px)
        width 430px
    h1
      margin: 0
      word-break: break-word
    p
      font-size: 14px
      margin-top: 10px;
    button
      padding: 7px 40px 7px 23px;
      margin-top: 25px;
      z-index: 2
  .slick-dots
    padding: 0;
    position: relative;
    bottom: 64px;
    left: 0
    margin: 0 auto;
    width: 350px;
    text-align: center;
    li
      display inline-block
      margin-right: 30px
      position: relative
      +pseudo(after, absolute, top left, 0 0)
        sprite($dot)
        width: 21px
        cursor: pointer
    .slick-active
      position: relative
      +pseudo(after, absolute, top left, 0 0)
        sprite($dot_active)
        width: 23px
        cursor: pointer
  .slick-list
    height: 100%;
  .slick-track
    height 100%

//@media all and (max-width: 900px)
//  .slider-content
//    width 400px
//news
.wrp-news, .wrp-about
  margin-bottom: 40px
  .title
    margin-top: 0
    margin-bottom: 22px;
    text-align: center
    letter-spacing: 0
.wrp-news-item
  height: 200px
  border-right: 5px solid transparent
  margin-bottom: 20px
  position: relative
  &:hover
    border-right: 5px solid $color1
    .news-caption
      a
        color: $color1
  .news-caption
    width: 490px;
    height: 100%;
    overflow: auto;
    padding: 0
    h4.newsflash-title.wrp-news
      margin 0
    a
      font-size: 20px;
      font-weight: 700;
      color: #000;
      margin-left: 20px;
      margin-right: 10px
      display: block;
      line-height: 1.5;
    p
      margin 10px 10px 0 20px
      font-size: 15px
      font-weight: normal
      color: $color2
      line-height: 1.5;

.news-item-date
  display: inline-block;
  margin-left: 20px
  margin-bottom: 15px
  padding: 9px 20px;
  color: #fff;
  background-color: #383838;
  font-size: 20px;
  font-weight: normal
  font-family: Intro;
  letter-spacing: 3px;
  top: 0;

ul.category.list-striped.list-condensed
  padding: 0
  margin: 0

//b-about
.wrp-about
  margin-bottom: 42px
  .info
    width: 650px
    margin: 20px 0 30px 0;
    line-height: 1.5;
    p
      margin: 0 0 25px 0;
  .partners
    width: 300px;
    border: 1px solid #ddd;
    padding: 22px 0 30px 0;
    margin-left: 45px;
    word-break: break-word;
    margin-top: 23px
    .title
      font-size: 20px
      font-weight: bold
      color: #000
      padding 0 20px;
      display: block
      margin: 0 0 33px
      text-align: center;
    &:hover
      .title
        color: $color1
    img
      margin: 10px auto;
      display: block;

//catalog
.wrp-catalog-page
  margin-bottom: 105px
  .title
    margin-bottom: 10px;

.wrp-catalog
  height: 290px
  section
    height: 200px
    margin: 50px 0 40px 0;
    position: relative
    h2
      display: inline-block;
      position: absolute;
      right: 45px;
      top: 61px;
      margin: 0;
      letter-spacing: 1.5px;
      color #fff
    a
      span
        position: absolute;
        top: 116px;
        right: 112px;
        color: #fff;
    &:nth-of-type(1)
      background-color: $color4
      +pseudo(before, absolute, top left, -10px -1px)
        sprite($paper)
        width: 270px
        height: 212px

    &:nth-of-type(2)
      background-color: $color2
      +pseudo(before, absolute, top left, -10px 0)
        sprite($karton)

//category
.wrp-category
  .title
    margin-bottom: 50px;
  .subcategory
    margin-right: 17px
    margin-bottom: 60px;
    max-width: 237px;
    .first-title
      font-weight: bold
      font-size: 16px
      color: $color2
      margin-top: 2px;
      margin-bottom: 5px;
    .second-title
      font-weight: normal
      font-size: 13px
      color: #a4a4a4
    img
      border: 2px solid #ddd
    &:nth-of-type(4n)
      margin-right: 0
    &:hover
      .first-title
        color: $color1
      .second-title
        color: #89c5f4
      img
        border: 2px solid $color1

//footer
footer
  background-color: $color3
  color #fff
  a
    color: #fff

.wrp-foot
  height: 167px;
  //.b-col-1-4
  //  padding-top: 26px
  .copy
    float: right
    width: 230px;
    line-height: 2;
    padding-top: 18px;
    a
      &:hover
        color: $color1

footer .addres
  left: 40px
  .btn
    +pseudo(before, absolute, top left, 6px 10px)
      sprite($icon_price_white)
  +pseudo(before, absolute, top left, 20px -40px)
    sprite($icon_addres_white)
    width: 30px
    height: 32px

footer .phone
  left: 40px
  +pseudo(before, absolute, top left, 20px -40px)
    sprite($icon_contacts_white)
    width: 30px
    height: 32px

/*.item-page.h-page.wrp-rezerv-form*/
/*h2*/
/*font-size: 30px*/
/*font-family: "Open Sans"*/
