.list-unstyled {
  list-style: none;
  padding: 0;
}
a.link:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: normal;
  color: #000;
  min-width: 1000px;
}
body img {
  border: none;
}
body button,
body input,
body textarea,
body select {
  outline: none;
}
body button {
  cursor: pointer;
}
body a {
  text-decoration: none;
  color: #000;
}
body .title {
  margin: 30px 0;
}
.h-page {
  width: 1000px;
  min-width: 1000px;
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.b-row {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
}
.b-col,
.b-col-1,
.b-col-1-2,
.b-col-1-4 {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}
.b-col-1 {
  display: block;
}
.b-col-1-2 {
  width: 500px;
}
.b-col-1-4 {
  width: 250px;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.effect {
  overflow: hidden;
  height: 235px;
  position: relative;
  margin-bottom: 10px;
}
.effect img {
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.effect img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.effect h2 {
  position: absolute;
  color: #fff;
  font-size: 18px;
  bottom: 5px;
  text-transform: uppercase;
  left: 20px;
}
.content {
  margin-bottom: 35px;
  text-align: left;
}
.content p {
  margin: 0 0 25px;
}
.content img {
  clear: both;
}
.content .pull-left {
  margin-right: 35px;
}
header .wrp-head {
  height: 140px;
}
header .wrp-head .b-row,
header .wrp-head .b-col,
header .wrp-head .b-col-1-2,
header .wrp-head .b-col-1-4 {
  height: 100%;
}
.logo {
  display: inline-block;
  padding-top: 32px;
  float: left;
}
.choose-lang {
  display: inline-block;
  padding-top: 30px;
  padding-left: 35px;
}
.choose-lang li {
  padding-bottom: 13px;
}
.choose-lang a:hover,
.choose-lang a:focus,
.choose-lang a:active {
  text-decoration: underline;
  color: #2893e6;
}
.choose-lang ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.choose-lang ul li {
  display: block;
}
.addres .btn:before {
  content: '';
  position: absolute;
  display: block;
  top: 7px;
  left: 12px;
  background-image: url("../img/sprite.png");
  background-position: -253px -214px;
  width: 13px;
  height: 14px;
  width: 15px;
  height: 15px;
}
.b-col-1-2 {
  vertical-align: middle;
}
.b-col-1-4 {
  float: left;
}
.addres {
  max-width: 245px;
  line-height: 2.5;
  padding-top: 18px;
  position: relative;
  height: 92px;
}
.addres .btn-primary {
  position: absolute;
  bottom: -15px;
  display: inline;
  line-height: 1;
  padding: 9px 23px;
  padding-left: 39px;
  max-height: 35px;
}
.phone {
  max-width: 170px;
  font-size: 20px;
  height: 92px;
  float: right;
  padding-top: 18px;
  text-align: right;
  line-height: 1.7;
  position: relative;
}
.phone .btn-primary {
  position: absolute;
  display: inline;
  bottom: -15px;
  left: 10px;
  padding: 8px 18px;
  vertical-align: text-bottom;
  max-height: 35px;
  line-height: 1;
}
header .addres:before {
  content: '';
  position: absolute;
  display: block;
  top: 20px;
  left: -42px;
  background-image: url("../img/sprite.png");
  background-position: -177px -214px;
  width: 30px;
  height: 30px;
}
header .phone:before {
  content: '';
  position: absolute;
  display: block;
  top: 20px;
  left: -28px;
  background-image: url("../img/sprite.png");
  background-position: -116px -214px;
  width: 31px;
  height: 31px;
}
.btn {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  display: inline;
}
.btn-primary {
  background-color: transparent;
  border: 1px solid #2893e6;
  padding: 6px 23px;
}
.btn-black {
  color: #000;
}
.btn-white {
  color: #fff;
}
.btn-circle {
  display: inline-block;
  border-radius: 30px;
  padding: 7px 20px 7px 20px;
}
nav {
  background-color: #383838;
}
nav ul {
  display: block;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
  padding: 13px 27px;
  position: relative;
}
nav ul li:hover,
nav ul li:focus,
nav ul li:active {
  background-color: #2893e6;
}
nav ul li:hover:after,
nav ul li:focus:after,
nav ul li:active:after {
  content: none;
}
nav ul li:after {
  content: '';
  position: absolute;
  display: block;
  top: 10px;
  right: 0px;
  border-right: 1px solid #000;
  width: 1px;
  height: 24px;
  box-shadow: -1px 0 0 0 #464646;
}
nav ul a {
  color: #fff;
}
nav ul a:last-of-type li:after {
  content: none;
}
.breadcrumbs {
  text-align: right;
}
.breadcrumbs ul {
  margin: 16px 0;
  padding: 0;
}
.breadcrumbs ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
}
.breadcrumbs ul li a {
  color: #2893e6;
  text-decoration: underline;
  margin-right: 5px;
}
.breadcrumbs ul li span {
  color: #000;
}
.wrp-main-slider {
  width: 100%;
  height: 500px;
}
.main-slider {
/*width: 1000px*/
  width: 100%;
  position: relative;
  height: 100%;
/*margin: 0 auto;*/
/*.wrp-btn-prev*/
/*position: absolute;*/
/*height: 100%;*/
/*background-color: rgba(0, 0, 0, 0.46);*/
/*z-index: 3;*/
/*left: 0;*/
}
.slick-slide.slick-current.slick-active.slick-center:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.slick-slide {
  z-index: 1;
}
.slick-slide:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.42);
  width: 100%;
  height: 100%;
  z-index: 3;
}
.slick-slide .black {
  color: #000;
}
.slick-slide .black .btn-circle {
  border: 1px solid #2893e6;
  color: #2893e6;
}
.slick-slide .white {
  color: #fff;
}
.slick-slide .white .btn-circle {
  border: 1px solid #fff;
  color: #fff;
}
.slick-arrow {
  position: relative;
  width: 85px;
  display: block;
  height: 85px;
  margin: 0 auto;
  margin-bottom: -84px;
  z-index: 5;
  border-radius: 50px;
  background-color: transparent;
  border: none;
  background-image: url("../img/sprite.png");
  background-position: 0px -214px;
  width: 85px;
  height: 84px;
}
.slick-prev {
  left: -42%;
  top: 42%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.slick-next {
  right: -42%;
  top: -58%;
}
.slick-slide {
  position: relative;
}
.slick-slide .slider-content {
  width: 465px;
  position: absolute;
  top: 31%;
  left: 47%;
}
.slick-slide h1 {
  margin: 0;
  overflow: auto;
  max-height: 168px;
  word-break: break-word;
}
.slick-slide p {
  font-size: 14px;
  overflow: auto;
  max-height: 60px;
  margin-top: 10px;
}
.slick-slide button {
  padding: 7px 40px 7px 23px;
  margin-top: 25px;
  z-index: 2;
}
.slick-dots {
  padding: 0;
  position: relative;
  bottom: 64px;
  left: 0;
  margin: 0 auto;
  width: 350px;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
.slick-dots li:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-position: -231px -214px;
  width: 22px;
  height: 22px;
  width: 21px;
  cursor: pointer;
}
.slick-dots .slick-active {
  position: relative;
}
.slick-dots .slick-active:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-position: -207px -214px;
  width: 24px;
  height: 23px;
  width: 23px;
  cursor: pointer;
}
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
}
.wrp-news,
.wrp-about {
  margin-bottom: 40px;
}
.wrp-news h2,
.wrp-about h2 {
  margin-top: 0;
  margin-bottom: 22px;
  text-align: center;
  letter-spacing: 0px;
}
.wrp-video-item {
  height: 200px;
  border-right: 5px solid transparent;
  margin-bottom: 20px;
}
.wrp-video-item:hover {
  border-right: 5px solid #2893e6;
}
.wrp-video-item:hover .video-caption a {
  color: #2893e6;
}
.wrp-video-item .video-caption {
  width: 495px;
  height: 65%;
  overflow: auto;
  padding: 54px 0 16px;
}
.wrp-video-item .video-caption a {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding-left: 20px;
  display: block;
  line-height: 1.5;
}
.wrp-video-item .video-caption p {
  padding-left: 20px;
  font-size: 15px;
  font-weight: normal;
  color: #383838;
  margin-top: 14px;
  line-height: 1.5;
}
.wrp-about {
  margin-bottom: 42px;
}
.wrp-about .info {
  width: 650px;
  margin: 20px 0 30px 0;
  line-height: 1.5;
}
.wrp-about .info p {
  margin: 0 0 25px 0;
}
.wrp-about .partners {
  width: 300px;
  border: 1px solid #ddd;
  padding: 22px 0 30px 0;
  margin-left: 45px;
  word-break: break-word;
  margin-top: 23px;
}
.wrp-about .partners .title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  padding: 0 20px;
  display: block;
  margin: 0 0 33px;
  text-align: center;
}
.wrp-about .partners:hover .title {
  color: #2893e6;
}
.wrp-about .partners img {
  margin: 10px auto;
  display: block;
}
.wrp-catalog-page {
  margin-bottom: 105px;
}
.wrp-catalog-page .title {
  margin-bottom: 10px;
}
.wrp-catalog {
  height: 290px;
}
.wrp-catalog section {
  height: 200px;
  margin: 50px 0 40px 0;
  position: relative;
}
.wrp-catalog section h2 {
  display: inline-block;
  position: absolute;
  right: 45px;
  top: 61px;
  margin: 0;
  letter-spacing: 1.5px;
  color: #fff;
}
.wrp-catalog section a span {
  position: absolute;
  top: 116px;
  right: 112px;
  color: #fff;
}
.wrp-catalog section:nth-of-type(1) {
  background-color: #ffae00;
}
.wrp-catalog section:nth-of-type(1):before {
  content: '';
  position: absolute;
  display: block;
  top: -10px;
  left: -1px;
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 272px;
  height: 214px;
  width: 270px;
  height: 212px;
}
.wrp-catalog section:nth-of-type(2) {
  background-color: #383838;
}
.wrp-catalog section:nth-of-type(2):before {
  content: '';
  position: absolute;
  display: block;
  top: -10px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-position: -272px 0px;
  width: 264px;
  height: 206px;
}
.wrp-category .title {
  margin-bottom: 50px;
}
.wrp-category .subcategory {
  margin-right: 17px;
  margin-bottom: 60px;
  max-width: 237px;
}
.wrp-category .subcategory .first-title {
  font-weight: bold;
  font-size: 16px;
  color: #383838;
  margin-top: 2px;
  margin-bottom: 5px;
}
.wrp-category .subcategory .second-title {
  font-weight: normal;
  font-size: 13px;
  color: #a4a4a4;
}
.wrp-category .subcategory img {
  border: 2px solid transparent;
}
.wrp-category .subcategory:nth-of-type(4n) {
  margin-right: 0;
}
.wrp-category .subcategory:hover .first-title {
  color: #2893e6;
}
.wrp-category .subcategory:hover .second-title {
  color: #89c5f4;
}
.wrp-category .subcategory:hover img {
  border: 2px solid #2893e6;
}
footer {
  background-color: #292929;
  color: #fff;
}
footer a {
  color: #fff;
}
.wrp-foot {
  height: 167px;
}
.wrp-foot .b-col-1-4 {
  padding-top: 26px;
}
.wrp-foot .copy {
  float: right;
  width: 230px;
  line-height: 2;
  padding-top: 45px;
}
.wrp-foot .copy a:hover {
  color: #2893e6;
}
footer .addres {
  left: 40px;
}
footer .addres .btn:before {
  content: '';
  position: absolute;
  display: block;
  top: 6px;
  left: 10px;
  background-image: url("../img/sprite.png");
  background-position: -266px -214px;
  width: 13px;
  height: 14px;
}
footer .addres:before {
  content: '';
  position: absolute;
  display: block;
  top: 20px;
  left: -40px;
  background-image: url("../img/sprite.png");
  background-position: -147px -214px;
  width: 30px;
  height: 31px;
}
footer .phone {
  left: 40px;
}
footer .phone:before {
  content: '';
  position: absolute;
  display: block;
  top: 20px;
  left: -40px;
  background-image: url("../img/sprite.png");
  background-position: -85px -214px;
  width: 31px;
  height: 31px;
}
